<!Doctype html>
<html>
<head>
    <title>DVLA</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

</head>
<body>
<div>
    <h4>DVLA</h4>
    <div class="form-group">
        <label for="usr">Search for user:</label>
        <input type="text" class="form-control" id="usr">
    </div>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>id</th>+
            <th>Full Name</th>
            <th>dob</th>
            <th>Nationality</th>
            <th>Gender</th>
            <th>Telephone</th>
        </tr>
        </thead>
        <tbody>
        <%people.forEach(person => {%>
        <tr>
            <td><%-person.id%></td>
            <td><%-person.full_name%></td>
            <td><%-person.dob%></td>
            <td><%-person.nationality%></td>
            <td><%-person.gender%></td>
            <td><%-person.telephone%></td>
        </tr>
        <%})%>
        </tbody>
    </table>
</div>

</body>
</html>
