<div class="container-fluid">
    <!-- Small boxes (Stat box) -->
    <div class="row">
        <div class="col-12">


            <div class="card">
                <div class="card-header">
                    <h6 class="card-title">Network Logs</h6>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>



                        <tr>
                            <th>#</th>
                            <th>DEVICE IMEI</th>
                            <th>Device Type</th>
                            <th>Network</th>
                            <th>Strength</th>
                            <th>Logged At</th>
                        </tr>


                        </thead>

                        <tbody>
                        <%logs.forEach((log, index)=> {%>
                        <tr>
                            <td><%-index+ 1%></td>
                            <td><%-log.userImei%></td>
                            <td><%-log.deviceType%></td>
                            <td><%-log.network%></td>
                            <td><%-log.signalStrength%></td>
                            <td><%-log.createdAt%></td>
                        </tr>
                        <%})%>
                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</div>